[tool.poetry]
name = "torchmanager"
version = "1.1.4"
description = "PyTorch Training Manager v1.1.4"
authors = ["Qisheng He <Qisheng.He@wayne.edu>"]
repository = "https://github.com/kisonho/torchmanager.git"
packages = [
    { include = "torchmanager" },
    { include = "torchmanager_core" },
]

[tool.poetry.dependencies]
python = "^3.8"
torch = "*"
tqdm = "*"

[tool.poetry.optional-dependencies]
scipy = "*"
tensorboard = "*"

[tool.poetry.extras]
scipy = ["scipy"]
tensorboard = ["tensorboard"]
all = ["scipy", "tensorboard"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"