[tool.poetry]
name = "torchmanager-nightly"
version = "1.3a1"
description = "PyTorch Training Manager v1.3 (Alpha 1)"
authors = ["Qisheng He <Qisheng.He@wayne.edu>"]
repository = "https://github.com/kisonho/torchmanager.git"
packages = [
    { include = "torchmanager" },
    { include = "torchmanager_core" },
]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
torch = "*"
tqdm = "*"

[tool.poetry.optional-dependencies]
scipy = { version = "*" }
tensorboard = { version = "*" }

[tool.poetry.extras]
scipy = ["scipy"]
tensorboard = ["tensorboard"]
all = ["scipy", "tensorboard"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"